@model GamesDetailsListModel

@{
	ViewData["Title"] = "Details";
}

<div style="margin: 25px 150px 50px;k">
	<h1 class="text-white">@Model.Name</h1>
	<div class="row col-12 mt-2">
		<div class="col-md-8">
			<div class="row">
				<img src=@Model.ImageUrl alt="game picture" style="width: 85%; height: auto">
			</div>
		</div>
	<div class="col-md-4" >
		<div class="mb-5">
			<h1 class="text-white">
				@Model.Name
			</h1>
		</div>
		<div class="row">
						<form method="get">
							<button asp-route-id="@Model.Id" asp-controller="App" asp-action="Buy" type="submit" w-100 btn btn-lg btn-primary>BUY</button>
						</form>
			<p class="bg-dark text-white" style="object-fit: cover; border:white; border-width:1.5px; border-style:solid;">
				@Model.Description
			</p>

		</div>
	</div>
</div>
