@model List<StoreGamesViewModel>

@{
	ViewData["Title"] = "LevelUp Game Store | Browse";
}

@if (!Model.Any())
{
	<div class="text-center">
		<h1 class="display-4">Level Up Game Store!</h1>
		<p>We are sorry, there are currently no games available.</p>
	</div>
}

@*<div class="container-fluid">*@

<div class="row mb-3 col-md-3 mt-5">
	<form method="get">
		<div class="form-group">
			<label class="form-label"></label>
			<input class="form-control bg-dark text-white" placeholder="Search">
		</div>
	</form>
</div>

<form method="get">
	<div class="row dropdown">
		<p>
			Sort By:
			<select class="form-control bg-dark text-light">
				<option value="0" selected>Date Created</option>
				<option value="1">Year</option>
				<option value="2">Brand And Model</option>
			</select>
		</p>
	</div>
</form>

<div class="row" style:>
	@foreach (var game in Model)
	{
		<div class="col-6 col-sm-6 col-md-4 col-lg-3">
			<div class="card mb-2" style="width: 16rem; background-color: transparent; border: none;">
				<img src=@game.ImageUrl class="card-img-top" alt="...">
				<div class="card-body text-white" style="font: bold">
					<p class="card-title">@game.Name</p>
					<p class="card-text">@game.Price$</p>
					<a asp-controller="App" asp-action="Details" class="btn btn-primary" style="width: 100%; display: block;">Check It!</a>
				</div>
			</div>
		</div>
	}
</div>
@*</div>*@


