@model AllGamesQueryModel

@{
	ViewData["Title"] = "LevelUp Game Store | Browse";
}

@if (!Model.Games.Any())
{
	<div class="text-center">
		<h1 class="display-4">Level Up Game Store!</h1>
		<p>We are sorry, there are currently no games available.</p>
	</div>
}

<partial name="_BrowseAllPartial" model="@Model"/>

