@using GameStore.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	var currentuser = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav bg-dark">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="dropdown bg-dark">
			<button class="dropbtn bg-dark">@User.Identity?.Name</button>
			<div class="dropdown-content bg-dark">
				<a class="text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
				@if (!User.IsInRole("DataManager"))
				{
					<a class="text-white" asp-area="" asp-controller="Store" asp-action="Wishlist">Wishlist</a>		
				}			
				<form class="form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="logout btn btn-link text-danger">Logout</button>
				</form>
			</div>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
		</li>
	}
</ul>
