@model List<StoreGamesViewModel>

<h1>GAMES</h1>
<div class="row col-md-4">
	@foreach (var game in Model)
{
	<div class="card" style="width: 18rem;">
		<img src=@game.ImageUrl class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">@game.Name</h5>
			<p class="card-text">@game.Price$</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
}
</div>

